@import "tailwindcss";

:root {
  --font-display: "Inter", system-ui, sans-serif;
  
  /* Your color palette */
  --color-primary: #0081A7;
  --color-primary-light: #00AFB9;
  --color-accent-yellow: #FDFCDC;
  --color-accent-peach: #FED9B7;
  --color-accent-coral: #F07167;
}

/* Base styles */
body {
  font-family: var(--font-display);
  color: #333;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}